@import "tailwindcss";
:root {
  --font-ubuntu: var(--font-ubuntu), sans-serif;
  --font-overpass: var(--font-overpass), sans-serif;
}

@theme inline {
  --font-ubuntu: var(--font-ubuntu);
  --font-overpass: var(--font-overpass);

  --color-red500: hsl(356, 100%, 66%);
  --color-red400: hsl(355, 100%, 74%);
  --color-blue900: hsl(208, 49%, 24%);

  --color-white: hsl(0, 100%, 100%);
  --color-gray600: hsl(207, 13%, 34%);
  --color-gray900: hsl(240, 10%, 16%);
  --color-orange300: hsl(13, 100%, 72%);
  --color-red550: hsl(353, 100%, 62%);
  --color-purple950: hsl(237, 17%, 21%);
  --color-purple900: hsl(237, 23%, 31%);
}

body {
  font-family: var(--font-ubuntu);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-overpass);
}
.heroBg {
  background-image: url("/bg-pattern-intro-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.illustration-bg {
  background-image: url("/bg-pattern-circles.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
